.Information {
    margin: 0 5px;
    position: relative;
    span {
        cursor: pointer;
        svg {
            fill: var(--Information);
            transition: 0.2s;
            &:hover {
                transition: 0.2s;
                fill: var(--Modal);
            }
        }
    }
    .BoxContent {
        position: absolute;
        border: solid 2px var(--bgPrimaryHover);
        background-color: var(--bgPrimary);
        margin-top: 15px;
        margin-left: 5px;
        span {
            display: flex;
            justify-content: flex-end;
            svg {
                padding: 5px;
                font-size: 25px;
                &:hover {
                    background-color: var(--bgPrimaryHover);
                }
            }
        }
        &::before {
            content: "";
            position: absolute;
            width: 0; 
            height: 0; 
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid var(--bgPrimaryHover);
            transform: rotate(-45deg);
            margin-top: -13px;
            margin-left: -3px;
        }
    }
}