.List {
    display: flex;
    flex-direction: column;
    width: 100%;
    li {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        background-color: rgb(29, 28, 28);
        border-bottom: solid 1px rgb(47, 47, 47);
        margin-bottom: 10px;
        cursor: pointer;
        &:hover, &:hover div {
            background-color: rgb(47, 47, 47);
        }

        div {
            display: flex;
            background-color: rgb(29, 28, 28);
            width: 100%;
            &:last-child {
                justify-content: end;
            }
        }
    }
}

// add
.AddForm {
    width: 60%;
    margin-left: 20%;
    .boxImageCapa {
        ul{
            li {
                width: 20%;
                transition: 0.3s;
                img {
                    cursor: pointer;
                    width: 100%;
                }
                &:hover {
                    transition: 0.3s;
                    border: solid 1px var(--bgPrimaryHover);
                }
            }
        }
    }
}

.boxFilter {
    width: 100%;
}