:root {
  --bgPrimary: #1a1919;
  --bgSecund: #121111;
  --bgOpaco: #0000
  --bgPrimary2: blueviolet
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: var(--bgPrimary);
}


a {
  text-decoration: none;
}

input:focus {
  outline: none;
}
li {
  list-style-type: none;
}


h1 {
  font-size: 34px;
}