:root {
  --bgPrimary: #1a1919;
  --colorPrimary: #fff;
  --bgPrimaryHover: #504f4f;
  --bgPrimaryCleanHover: #efeded;
  --bgSecund: #121111;
  --bgSecundHover: #353434;
  --bgOpaco: #0000;
  --bgPrimary2: blueviolet;
  --Modal: white;
  --ModalColor: #000;
  --Information: rgb(144, 144, 144);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: var(--bgPrimary);
  &::-webkit-scrollbar {
    background-color: var(--bgPrimary);
  }
  &::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: var(--bgPrimaryHover);
    border-radius: 10px;
  }
}

a {
  text-decoration: none;
}
header {
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}
article {
  padding: 1em;
  padding-top: 10vh;
}

input:focus {
  outline: none;
}
li {
  list-style-type: none;
}

h1 {
  font-size: 34px;
  color: var(--colorPrimary);
}