.Form {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: rgb(37, 37, 37);
    padding: 2em 1em;
    border-radius: 10px;
}
.Form div, .Form div label {
    background-color: #0000;
}
.Form h1 {
    text-align: center;
    padding: 0.5em 0 1.5em 0;
    background-color: #0000;
}

.Form input, .Form select {
    margin-bottom: 1em;
    background-color: #0000;
}

.Form .Buttons {
    display: flex;
    justify-content: space-between;
}

.Form .PasswordView label {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.Form .PasswordView label input {
    margin: 0 7px 0 0;
}