.Text {
    display: flex;
    align-items: center;
}

.Text h1 {
    margin-right: 15px;
}

.Text span, .Text div {
    padding: 7px;
    border: solid 1px rgb(67, 67, 67);
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
.Text span:hover, 
.Text span:hover > svg, 
.Text div:hover, 
.Text div:hover > span svg {
    background-color: rgb(51, 51, 51);
}

.Text div  span {
    border: none;
    padding: 0;
    margin: 0 0 0 10px;
}



.informations {
    display: flex;
    width: 40%;
}
.informations div {
    width: 100%;
    display: flex;
    margin: 0 2px;
    background-color: rgb(69, 69, 69);
    border-bottom: solid 4px rgb(70, 70, 70);
    transition: 0.3s;
}
.informations div.active {
    transition: 0.3s;
    border-bottom: solid 4px blueviolet;
}
.informations div span {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(36, 36, 36);
    cursor: pointer;
    transition: 0.3s;
}
.informations div span svg {
    margin-right: 5px;
}
.informations div span:hover {
    background-color: rgb(46, 46, 46);
    transition: 0.3s;
}

.References {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 40%;
    max-height: 300px;
    overflow-y: auto;
}
.References li {
    width: 33%;
    margin: 5px 0.33%;
}
.References li img {
    width: 100%;
}


.Comments {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 40%;
    max-height: 300px;
    overflow-y: auto;
}

.Comments li {
    align-items: center;
    padding: 10px;
    background-color: rgb(42, 41, 41);
    margin-bottom: 5px;
    display: flex;
}

.Comments li img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
    border: solid 3px rgb(84, 84, 84);
}


.Comments::-webkit-scrollbar, .References::-webkit-scrollbar {
    width: 8px;
}

.Comments::-webkit-scrollbar-thumb, .References::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: rgb(67, 66, 66);
}